{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>EventView</title>
</head>
<center>
<header>
<!--<center>-->
    <div class="container">
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="{% url 'inicio' %}">INICIO</a></li>
                    <li> <a href="#">ACADEMICOS</a></li>
                    <li><a href="#">EMPRESARIALES</a></li>
                    <li><a href="#">NOSOTROS</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="#">{{ user.username }}</a>
                        {% else %}
                    <li><a href="{% url 'login' %}">INICIAR SESION</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <ul class="submenu">
                            <li><a href="{% url 'logout' %}">Cerrar secion</a></li>
                            <li><a href="#">Mis Eventos</a></li>
                            <li><a href="#">Ajustes</a></li>
                        </ul>
                        {% else %}
                        <!-- <ul class="submenu">
                            <li><a href="#">HOLA</a></li>
                            <li><a href="#">HOLA</a></li>
                            <li><a href="#">HOLA</a></li>
                        </ul> -->
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
<!--</center>-->
</header>
</center>
<body>
<div class="container">    



    {% block principal %}
    <center><h1>Tus Eventos de paiwitas favoritos</h1></center><br>

    {% endblock %}

    <footer >


    </footer>
</div>
</body>
</html>